$background-color-1: #444444;
$brand-color-1: #34C578;

$message-bg-color: lighten($brand-color-1, 40%);
$message-border-radius: 2em;


$bar-button-hover-color: #fff;
$bar-button-color: rgba($bar-button-hover-color, .5);
