


// ========================= BASE ========================= //



$base-border-width: 3px;




$dark-control-hover-color: #fff;
$dark-control-color: rgba($dark-control-hover-color, .5);





// ========================= LOGIN ========================= //

$login-border-color: #DEDEDE;



// ========================= MESSAGES ========================= //










