
// the application navigation bar

nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false' ng-init='navCollapsed = true' ng-click='navCollapsed = !navCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ui-sref='app.userlist')
        img(ng-src='{{curUser.avatar}}')
        span {{curUser.name}}

    #navbar-collapse.collapse.navbar-collapse.navbar-responsive-collapse(uib-collapse='navCollapsed')
      ul.nav.navbar-nav.navbar-right
        li
          a(ng-click='logout()' aria-label='Log out')
            span.glyphicon.glyphicon-off(aria-hidden='true')
            span &nbsp; Log out

// the main view
ui-view